black = #222
gray = #444
light-gray = #888
xlight-gray = #ccc
background-gray = #f7f6f5

blue = #00a2ff
green = #67ab49
yellow = #FFBB33
red = #FF4444

dark-blue = darken(blue, 5)
dark-green = darken(green, 5)
dark-yellow = darken(yellow, 5)
dark-red = darken(red, 5)

font-xsmall = 1em
font-small = 1.2em
font-large = 1.6em

radius = 3px

transition-speed = 150ms

@import 'nib'

@import 'include/helpers'
@import 'include/basic'
@import 'include/header'
@import 'include/ui'
@import 'include/list'
@import 'include/link'
@import 'include/footer'
@import 'include/blank'

@import 'include/responsive'

@import 'include/tour'