black = #222
gray = #444
light-gray = #888
xlight-gray = #aaa
background-gray = #f7f6f5

blue = #33B5E5
purple = #AA66CC
green = #99CC00
yellow = #FFBB33
red = #FF4444

dark-blue = #0099CC
dark-purple = #9933CC
dark-green = #669900
dark-yellow = #FF8800
dark-red = #CC0000

font-xsmall = 12px
font-small = 15px
font-large = 18px

@import 'nib'
@import 'include/icons'
@import 'include/basic'