black = #222
gray = #444
light-gray = #888
xlight-gray = #aaa
background-gray = #f7f6f5

blue = #33B5E5
purple = #AA66CC
green = #99CC00
yellow = #FFBB33
red = #FF4444

dark-blue = #0099CC
dark-purple = #9933CC
dark-green = #669900
dark-yellow = #FF8800
dark-red = #CC0000

font-xsmall = 1em
font-small = 1.2em
font-large = 1.6em

@import 'nib'

@import 'include/icons'

@import 'include/basic'
@import 'include/ui'
@import 'include/list'
@import 'include/footer'

@import 'include/responsive'