<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0"
    id="com.phonegap.supersimpletasks"
    versionCode="315"
    version="3.1.5">

    <name>Super Simple Tasks</name>

    <description>
        The world’s simplest tasks app with offline support, an elegant design, and no account required! 
    </description>

    <author href="http://humphreybc.com" email="humphreybc@gmail.com">
        Benjamin Humphrey 
    </author>

    <gap:platform name="android" />

    <preference name="permissions" value="none" />
    <preference name="android-minSdkVersion" value="21" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="5000" />

    <gap:plugin name="org.apache.cordova.splashscreen" />

    <icon src="icon_xxxhdpi.png" />
    <icon src="img/icon_mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="img/icon_hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="img/icon_xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
    <icon src="img/icon_xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />

    <gap:splash src="screen_xhdpi.png" />
    <gap:splash src="img/screen_ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
    <gap:splash src="img/screen_mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
    <gap:splash src="img/screen_hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
    <gap:splash src="img/screen_xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />

    <access origin="*" />

</widget>