// Colors

black                 = #111
gray                  = #444
light-gray            = #888
lighter-gray          = #aaa
xlight-gray           = #ddd
background-gray       = #f7f6f5

green                 = #4CAF50
blue                  = #2196F3
yellow                = #FFC107
red                   = #F44336
pink                  = #FF4081
purple                = #7E57C2
orange                = #FF7043
slate                 = #607D8B

dark-blue             = darken(blue, 5)
dark-green            = darken(green, 5)
dark-yellow           = darken(yellow, 5)
dark-red              = darken(red, 5)

// Fonts

font-xsmall           = 1em
font-small            = 1.2em
font-large            = 1.4em

// Border radius

radius                = 2px

// Transitions

transition-speed      = 250ms
transition-speed-fast = 150ms
transition-speed-slow = 400ms

// Z-index

z-index-modal         = 500
z-index-modal-blanket = 400
z-index-edit-overlay  = 300
z-index-header        = 200
z-index-reorder       = 100

// Onboarding tour

tooltip-color         = white
tooltip-text          = black
tooltip-link          = blue
tooltip-link-hover    = dark-blue
tooltip-border-color  = blue

@import 'nib'
@import 'include/*'

