*
  box-sizing: border-box

// Background stuff

body
  background-color white
  font-family "Roboto", sans-serif
  color gray
  font-size 14px
  -webkit-font-smoothing antialiased
  padding 10px

input, button, textarea
  -webkit-font-smoothing antialiased
  font-family "Roboto", sans-serif

// Fonts

h1
  margin 0px
  font-size font-large
  color blue
  text-shadow 0px 1px white

a
  color blue
  text-decoration none

  &:hover
    color dark-blue

p
  font-size font-small

// Inputs

input[type='text']
  float left
  padding 7px 8px
  border-top-left-radius 3px
  border-bottom-left-radius 3px
  border 1px solid xlight-gray
  border-right none
  width 75%
  font-size font-small

  &:hover, &:focus
    border 1px solid dark-blue
    border-right none
    outline none

// Buttons

.button
  width 25%
  float left
  background-color blue
  border 1px solid dark-blue
  border-top-right-radius 3px
  border-bottom-right-radius 3px
  padding 7px 8px
  font-size font-small
  font-weight 700
  color white
  cursor pointer
  outline none

  &:hover
    background-color lighten(blue, 5)
    box-shadow inset 0px -1px 0px dark-blue

  &:active
    background-color dark-blue
    box-shadow inset 0px 2px 3px darken(dark-blue, 5)
