// Blank state message

#all-done
  display none
  margin-top 60px
  text-align center
  color light-gray

.whats-new
  display none
  border 2px solid blue
  border-radius radius
  margin 0px 15px
  padding 20px

  h2
    margin-top 0px

  #whats-new-close
    padding 5px
    display block
    text-align center
    line-height 8px
    cursor pointer
    float right
    font-size 1.75em

    &:hover
      color blue

  #whats-new-close:before
    content "×"