header
  background green
  padding 10px 20px
  height 60px
  color white

  a
    color white
    padding 10px
    border-radius radius
    transition background transition-speed

    &:hover
      color white
      background lighten(green, 5)

  .header-left
    margin-top 4px

    h1
      display inline

  .header-right
    font-size font-xsmall
    font-weight 500
    color white