// Add link inline dialog

.link-active // The button
  background blue
  
  #link-icon
    fill white
    
  &:hover
    background blue !important

#add-link-input-wrapper
  opacity 0
  transition opacity 250ms
    
#add-link-input
  color blue
  background-image url('../img/link.svg')
  background-repeat no-repeat
  background-size 16px
  background-position 0 50%
  border none
  font-size font-xsmall
  padding 5px 5px 5px 20px
  
.task-link
  clear both
  padding-left 28px
  
  a
    display inline-block
    max-width 80%
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    color lighter-gray
    font-size font-xsmall - 0.1em
    
    &:hover
      color blue