.create-task
  padding 10px 20px 20px

  input, button
    margin-top 10px

// The task list

#task-list
  margin 0px
  padding 0px
  list-style-type none

  li
    padding 12px 20px 12px
    overflow hidden
    user-select none

    &:hover
      background-color #f7f6f5

    input[type='checkbox']
      cursor pointer
      width 28px
      height 15px
      margin 0px
      position relative
      overflow hidden

    label
      font-weight 500
      float left
      display block
      padding-left 28px
      text-indent -28px
      font-size font-small

    .priority
      float right
      color white
      background gray
      min-width 65px
      text-align center
      padding 2px 8px 2px
      font-size font-xsmall
      text-transform capitalize
      font-weight 700
      border-radius radius
      cursor pointer
      transition background transition-speed

    [priority='blocker']
      background red

      &:hover
        background lighten(red, 5)

    [priority='major']
      background yellow

      &:hover
        background lighten(yellow, 5)  

    [priority='minor']
      background green

      &:hover
        background lighten(green, 2)

    .duedate
      color light-gray
      margin-left 10px
      font-size font-small
