// The task list

#task-list
  margin 0px
  padding 0px
  list-style-type none

  li
    padding 10px 20px 10px
    overflow hidden
    user-select none

    &:hover
      background-color #f7f6f5

    input[type='checkbox']
      cursor pointer
      width 28px
      height 13px
      padding 0px
      margin 0px
      position relative
      overflow hidden

    label
      float left
      display block
      padding-left 28px
      text-indent -30px

    .priority
      float right
      color white
      background-color gray
      width 60px
      text-align center
      padding 2px 5px 2px
      font-size font-xsmall
      text-transform capitalize
      font-weight 700
      border-radius 3px
      cursor pointer

    [priority='blocker']
      background-color red

      &:hover
        background-color lighten(red, 5)

    [priority='major']
      background-color yellow

      &:hover
        background-color lighten(yellow, 5)  

    [priority='minor']
      background-color green

      &:hover
        background-color lighten(green, 2)

    .duedate
      color light-gray
      margin-left 10px

      &:hover
        color blue
        cursor pointer