// Create task input and button

#create-task
  padding 10px 0 20px
  min-height 117px
  
// Add a new task

#new-task-wrapper
  position relative
  overflow hidden
  
  table
    border-spacing 3px
  
  table
    width 100%
    
#new-task
  &:hover, &:focus
    border 1px solid green
    outline none
    
#task-submit
  background-repeat no-repeat
  background-image url('../img/add.svg')
  transition background-position 150ms ease-in-out
    
.task-submit-button
  background-position 50% 7px
  
.task-submitted
  background-position 50% -26px
  
// Add link button and styling

#add-link
  background-repeat no-repeat
  background-image url('../img/link-black.svg')
  background-position 50% 50%

.link-active
  background-color blue
  background-image url('../img/link-white.svg') !important
  
  #link-icon
    fill white
    
  &:hover
    background-color blue

#add-link-input-wrapper
  opacity 0
  transition opacity 250ms
    
#add-link-input
  color blue
  background-image url('../img/link-black.svg')
  background-repeat no-repeat
  background-size 22px
  background-position -2px 50%
  border none
  font-size font-xsmall
  padding 5px 5px 5px 20px
  
// The main task list

#task-list
  margin -40px 0 0
  padding 0
  list-style-type none
  transition margin 250ms ease-in-out

// Styles for dragging & dropping

.slip-reordering
  z-index 500
  border 2px solid blue !important
  background-color white !important
  box-shadow 0 2px 8px rgba(0,0,0,0.10)
  transition box-shadow 250ms
  cursor default

.slip-swiping-container
  overflow-x hidden
