// Responsive for mobile devices

@media screen and (max-width: 500px)

  body
    font-size 12px

  #title
    display none

  .content, .footer, #task-submit, #new-task
    width 100%

  #task-submit, #new-task
    display block
    float none

  input[type='checkbox']
    vertical-align middle

  #task-list 

    li
      position relative
      padding-right 100px

      label
        max-width 100%

      .priority
        position absolute
        top 10px
        right 10px

      .drag-handle
        display none

  .footer ul li
    width 100%
    margin-bottom 5px
