// Responsive for mobile devices

@media screen and (max-width: 500px)

  #title
    display none

  .content, .footer, #task-submit, #new-task
    width 100%

  #new-task-wrapper td, #new-task-input
    display inline-table
    width 100% !important

  input[type='checkbox']
    vertical-align middle

  #task-list 

    li
      position relative
      padding-right 100px

      label
        max-width 100%

      .priority
        position absolute
        top 10px
        right 10px

      .drag-handle
        display none

  .footer ul li
    width 100%
    margin-bottom 5px
