<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0"
    id="com.phonegap.supersimpletasks"
    versionCode="317"
    version="3.1.7">

    <name>Super Simple Tasks</name>

    <description>
        Beautiful tasks app with offline support, syncing, and no account required!
    </description>

    <author href="http://humphreybc.com" email="humphreybc@gmail.com">
        Benjamin Humphrey 
    </author>

    <gap:platform name="android" />

    <preference name="permissions" value="none" />
    <preference name="android-minSdkVersion" value="16" />

    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <gap:plugin name="cordova-plugin-statusbar" source="npm" />
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm" />

    <icon src="icon_xxxhdpi.png" />
    <icon src="img/icon_mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="img/icon_hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="img/icon_xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
    <icon src="img/icon_xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />

    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <access origin="*" />
    <access origin="http://127.0.0.1*" />
    <access origin="http://*.firebaseio.com" />
    <access origin="https://*.firebaseio.com" />

</widget>