<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0"
    id="com.phonegap.supersimpletasks"
    versionCode="317"
    version="3.1.7">

    <name>Super Simple Tasks</name>

    <description>
        The world’s simplest tasks app with offline support, an elegant design, and no account required! 
    </description>

    <author href="http://humphreybc.com" email="humphreybc@gmail.com">
        Benjamin Humphrey 
    </author>

    <gap:platform name="android" />

    <preference name="permissions" value="none" />
    <preference name="android-minSdkVersion" value="21" />

    <gap:plugin name="cordova-plugin-statusbar" source="npm" />

    <icon src="icon_xxxhdpi.png" />
    <icon src="img/icon_mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="img/icon_hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="img/icon_xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
    <icon src="img/icon_xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />

    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

</widget>