#all-done
  color light-gray
  height 1px
  margin-top 40px
  opacity 0
  text-align center
  pointer-events none
  
#all-done.show-empty-state
  opacity 1
  height auto
  transition opacity 250ms
  
#empty-state-image
  background-image url('../img/empty-state-default.jpg')
  background-size cover
  background-color background-gray
  border-radius radius
  height 220px
  margin 0 auto
  width 340px