.button
  border none
  border-radius radius
  cursor pointer
  height 45px
  margin 0
  outline none
  padding 10px 20px
  width 100%
  -webkit-tap-highlight-color rgba(0,0,0,0)
  
.button-gray
  background-color xlight-gray
  
  &:hover
    background-color lighten(xlight-gray, 5)
  
.button-primary
  background-color #607D8B

  &:hover
    background-color lighten(#607D8B, 5)
    
.button img
  vertical-align middle