.button
  border none
  border-radius radius
  cursor pointer
  height 45px
  margin 0
  outline none
  padding 10px 20px
  width 100%
  
.button-gray
  background-color xlight-gray
  
  &:hover
    background-color lighten(xlight-gray, 5)
  
.button-green
  background-color green

  &:hover
    background-color lighten(green, 5)
    
.button img
  vertical-align middle