#add-link
  background-repeat no-repeat
  background-image url('../img/link-black.svg')
  background-position 50% 50%

#add-link-input-wrapper
  opacity 0
  pointer-events none
    
#add-link-input
  background url('../img/link-black.svg') no-repeat -2px 50%
  background-size 22px
  border none
  color blue
  font-size font-xsmall
  padding 5px 5px 5px 20px
  
.link-active

  #add-link
    background-color blue
    background-image url('../img/link-white.svg')
    
    #link-icon
      fill white
      
    &:hover
      background-color lighten(blue, 2)
      
  #add-link-input-wrapper
    opacity 1
    pointer-events auto
    
  #task-list
    margin-top 0