#create-task
  min-height 110px
  padding 10px 0 20px
  position relative
  
#edit-task-overlay
  opacity 0
  transition opacity 250ms ease-in-out
  pointer-events none
  position absolute
  border-radius radius
  top 5px
  left 50%
  transform translateX(-50%)
  width 101%
  height 65px
  z-index z-index-edit-overlay
  box-shadow 0 400px 0 800px rgba(0, 0, 0, 0.25)
  
.link-active #edit-task-overlay
  height 100px

#new-task-wrapper
  position relative
  
  #new-task-td
    width 75%
  
  table
    border-spacing 3px
    width 100%
    
#new-task
  &:hover, &:focus
    border 1px solid primary
    outline none
    
#task-submit
  background-repeat no-repeat
  background-image url('../img/add_sprite.svg')
  background-position 50% 12px
  transition background-position transition-speed cubic-bezier(0.4, 0, 0.2, 1)
  
#task-submit.task-submitted
  background-position 50% -36px