footer
  margin 20px auto
  max-width 800px
  padding-bottom 20px

  ul
    color light-gray
    list-style-type none
    padding 0

    li
      float left
      text-align center
      width 33.333%