footer
  margin 0 auto
  max-width 800px
  padding-bottom 80px

  ul
    color light-gray
    list-style-type none
    padding 0

    li
      float left
      margin 10px 0
      text-align center
      width 33.333%
      
    #theme-selector
      margin-top 12px
      
    #apps a
      cursor pointer
      padding 0 5px
      opacity 0.8
      
      &:hover
        opacity 1