header
  background-color primary
  color white
  height 56px
  padding 8px 5px 10px
  position absolute
  width 100%
  z-index z-index-header

  a
    color white
    padding 8px 12px 6px
    border-radius radius

    &:hover
      color white
      background lighten(primary, 5)

  .header-left
    margin 2px 0 0 10px
    
    img
      margin-right 5px
    

#expand
  display none
  
.popup #expand
    display inherit
    
#list-name
  background none
  border none
  border-radius radius
  color white
  font-size font-large
  outline none
  padding 3px 5px 4px
  text-overflow ellipsis
  width 180px
    
  &:hover, &:focus
    background dark-primary
    
  &::-webkit-input-placeholder
    color rgba(255,255,255,0.5)
   
  &::-moz-placeholder
    color rgba(255,255,255,0.5)
   
  &:-ms-input-placeholder 
    color rgba(255,255,255,0.5)
