// Green header

header
  position absolute
  width 100%
  background green
  padding 5px
  height 50px
  color white
  z-index 1000

  a
    color white
    padding 10px
    border-radius radius

    &:hover
      color white
      background lighten(green, 5)

  .header-left
    margin 2px 0 0 10px

  .header-right
    font-size font-xsmall
    font-weight 500
    color white