// Style for help.html

.help

  .content
    padding 100px 15px
    
    h1
      font-size 2.2em

    h2
      color black
      font-size 1.5em
      font-weight 500
      padding 20px 0 0
      text-transform inherit
      
    p
      font-size 1.1em
      margin-top 5px
      line-height 1.6
      
    span img
      margin-bottom 1px
      vertical-align middle
        
    a
      color blue
      
      &:hover
        color dark-blue
        text-decoration underline
      
    .help-quote
      padding-left 20px
      color light-gray
      overflow-x scroll
      white-space no-wrap
      
    ol li
      font-size 1.1em
      line-height 1.7
      margin 8px 0
        
    #help-menu
      font-size 1.1em
      margin 20px 0 0

      ul
        list-style none
        padding 0
        margin 0
        
        li
          margin 10px 0
