#task-list
  list-style-type none
  margin -40px 0 0
  padding 0
  position relative
  opacity 0
  transition margin transition-speed, opacity transition-speed, transform transition-speed
  transform scale(0.95, 0.95)
  
ul#task-list.list-show
  opacity 1
  transform scale(1, 1)

ul#task-list .task.slip-reordering
  z-index z-index-reorder
  border 2px solid slate
  background white
  box-shadow 0 2px 8px rgba(0,0,0,0.10)
  transition box-shadow transition-speed
  cursor default

.slip-swiping-container
  overflow-x hidden