// Create task input and button

#create-task
  min-height 117px
  padding 10px 0 20px
  position relative
  
// Add a new task

#new-task-wrapper
  position relative
  overflow hidden
  
  table
    border-spacing 3px
  
  table
    width 100%
    
#new-task
  &:hover, &:focus
    border 1px solid green
    outline none
    
#task-submit
  background-repeat no-repeat
  background-image url('../img/add.svg')
  background-position 50% 7px
  transition background-position 150ms ease-in-out
  
.task-submitted
  background-position 50% -26px !important
  
// The main task list

#task-list
  list-style-type none
  margin -40px 0 0
  padding 0
  position relative
  transition margin 250ms ease-in-out

// Styles for dragging & dropping

.slip-reordering
  z-index 500
  border 2px solid blue !important
  background-color white !important
  box-shadow 0 2px 8px rgba(0,0,0,0.10)
  transition box-shadow 250ms
  cursor default

.slip-swiping-container
  overflow-x hidden
