#task-list
  list-style-type none
  margin -40px 0 0
  padding 0
  position relative
  transition margin transition-speed ease-in-out

.slip-reordering
  z-index z-index-reorder
  border 2px solid blue !important
  background-color white !important
  box-shadow 0 2px 8px rgba(0,0,0,0.10)
  transition box-shadow transition-speed
  cursor default

.slip-swiping-container
  overflow-x hidden
