// Extension popup
@media screen and (min-width: 460px) and (max-width: 650px)
  .modal
    width 95%
    
  #main-content .task label
    max-width 75%

// Mobile
@media screen and (max-width: 460px)
  #edit-task-overlay, .drag-handle, .task-actions, .modal-blanket
    display none
    
  header a:hover
    background-color transparent
    
  header a:active
    background-color rgba(255,255,255,0.1)

  #main-content
    #create-task #new-task-wrapper td, #create-task #new-task-input
        display list-item
        margin-bottom 5px
        width 100%
    
    #attach-link-td, #add-task-td
      padding 0
      
    .task-actions
      margin-right 20px

    #task-list .task
      position relative
      
      label
        max-width 85%

      .tag
        position absolute
        right 10px
        top 10px
        
      &:hover
        background-color white
        
      &:active
        background-color background-gray

  footer ul li
    width 100%
    
  body.modal-show
    overflow hidden
    
  .modal
    border-radius 0
    height 100%
    width 100%
