// Extension popup
@media screen and (min-width: 460px) and (max-width: 650px)
  .modal
    width 95%
    
  #main-content .task label
    max-width 75%

// Mobile
@media screen and (max-width: 460px)
  #main-content

    #create-task #new-task-wrapper td, #create-task #new-task-input
        display list-item
        margin-bottom 4px
        width 100%
      
    #edit-task-overlay
      display none

    .task
      position relative
      
      label
        max-width 85%

      .tag
        position absolute
        right 10px
        top 10px

      .drag-handle
        display none
        
      &:hover
        background-color white
        
      &:hover .task-actions
        display none

  footer ul li
    margin-bottom 5px
    width 100%
    
  .modal
    width 95%
