@media screen and (max-width: 480px)
  #create-task
    #new-task-wrapper td, #new-task-input
      display list-item
      margin-bottom 4px
      width 100% !important
    
  #edit-task-overlay
    display none

  .task
    position relative

    .tag
      position absolute
      right 10px
      top 10px

    .drag-handle
      display none
      
    &:hover
      background-color white
      
    &:hover .edit
      display none !important

  footer ul li
    margin-bottom 5px
    width 100%

@media screen and (max-width: 610px)
  .modal
    width 95%