h1
  font-size font-large
  font-weight 500
  margin 0

h2
  color light-gray
  font-size font-large
  font-weight 500
  
p
  font-size font-small

a
  color slate
  text-decoration none

  &:hover
    color dark-green
    
b
  font-weight 500