h1
  font-size font-large
  margin 0

h2
  color light-gray
  font-size font-xsmall
  margin 40px 0 10px
  text-transform uppercase
  
p
  font-size font-small

a
  color primary
  text-decoration none

  &:hover
    color dark-primary