// What's new dialog

.whats-new
  background pink
  border-radius radius
  color white
  display none
  font-weight 500
  line-height 1.5
  margin 10px 4px 0
  padding 10px 20px 10px
  
  a
    background-color rgba(0,0,0,0.15)
    border-radius radius
    color white
    cursor pointer
    font-weight 500
    padding 5px 15px
    
    &:hover
      background-color rgba(0,0,0,0.2)