// What's new dialog

.whats-new
  border 2px solid blue
  border-radius radius
  display none
  margin 0 4px 0
  padding 20px 20px 10px

  h2
    margin-top 0

  #whats-new-close
    padding 5px
    display block
    text-align center
    line-height 8px
    cursor pointer
    float right
    font-size 1.75em

    &:hover
      color blue

  #whats-new-close:before
    content "×"